Тестирование без требований может быть выполнено посредством создания ментальной модели продукта, сбором дополнительных источников информации, штурма совместно с коллегами, консультированием у владельца продукта, и разумеется формализованном всей полученной информации в виде диаграмм, текста, майнд-карт
